[submodule "curated-source-dataset"]
	path = curated-source-dataset
	url = https://gitlab.lrz.de/social-rom/datasets/organic-dataset/curated-source-dataset.git
[submodule "annotated-dataset"]
	path = annotated-dataset
	url = https://gitlab.lrz.de/social-rom/datasets/organic-dataset/annotated-dataset.git
