.idea
.vscode/
inter_result
wv/
Sample-Read/
data/

*/.ipynb_checkpoints/
*/__pycache__
*/data
*/experiments

**/*.zip
**/*.pptx

glove.6B/
glove.840B.300d/

annotated-dataset/
curated-source-dataset/
presentation/

